<h1>Activity Report for :</h1>
<td>Total Number of Posts by the User : <%=@posts.count  %> </td>
<td>Total Number of Votes for the User : <%=@votes.count  %> </td>

<% if !session[:user_id].nil? %>

    <tr><td>&nbsp;</td></tr>
<% end %>
<table border="1">
  <tr>
    <th>Post</th>
    <th>&nbsp&nbsp&nbsp&nbsp&nbspLast Modified</th>
    <th>Posted By: </th>
    <th>Votes:</th>
    <th>&nbsp&nbsp&nbsp</th>
    <th>&nbsp&nbsp&nbsp</th>
    <th>&nbsp&nbsp&nbsp</th>
  </tr>

  <% @posts = @posts.sort_by{|value| value.updated_at}%>

  <%@posts.reverse_each do |post| %>
      <%#if(post.pcid ==0)%>
          <tr>
            <td><%= post.post %></td>
            <td><%= post.updated_at %></td>
            <td><% user = User.find(post.user_id)%> <%= user.attributes['username']   %></td>
            <td><%= post.weight %></td>
            <td><%= link_to 'Show', post %></td>
            <% votes = Vote.find_all_by_post_id(post.id)
               containsVoteByCurrentUser=false
               votes.each do |vote|
                 if (session[:user_id] == vote.user_id )
                   containsVoteByCurrentUser = true
                   break
                 end
               end
               if containsVoteByCurrentUser == false
                 voteCount = votes.length
                 votesString = "#{voteCount} users voted for this!"
               else
                 if votes.length-1 > 0
                   voteCount = votes.length-1
                   votesString = "You and #{voteCount} other users voted for this"
                 else
                   votesString = "You voted for this"
                 end
               end
            %>

            <td> <%=link_to votesString, posts_showvotes_path(:id=>post.id)  %></td>

            <% if ((session[:admin].to_s == "Admin") or (session[:user_id] == post.user_id)) %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end%>
            <br/>
          </tr>
      <%end%>
  <%# end %>
  <br />
</table>
