<p id="notice"><%= notice %></p>

<%  if session[:admin].to_s == "Admin"%>
    <% @user.each do |value| %>
        <p>
          <b>Fullname:</b>
          <%= value.name %>
        </p>

        <p>
          <b>Username:</b>
          <%= value.username %>
        </p>

        <p>
          <b>Role:</b>
          <%= value.role %>
        </p>

        <%= link_to 'Edit', edit_user_path(value) %>
        <%= link_to 'Show Activity', users_showReport_path(:id => value) %>
        <% if session[:user_id] != value.id %>
            <%= link_to 'Delete User', value, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end %>
    <% end %>
<% end %>